.column-node {
    width: 200px;
    height: 50px;
    background: white;
    border: 1px solid #ccc;
    color: black;
    font-weight: normal;
    border-radius: 0;
    position: relative;
}

.column-node.expanded {
    height: 150px;
}

.node-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.position-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: transparent;
}
    
.position-details {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    text-align: left;
}

.detail-item {
    margin-bottom: 5px;
    word-wrap: break-word;
}

.port-indicator {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #007acc;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
