.column-node {
    width: 200px;
    height: 50px;
    background: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: normal;
    text-align: center;
    border-radius: 0;
    transition: height 0.3s ease;
}

.column-node.expanded {
    height: 150px;
}

.position-title {
    font-size: 14px;
    font-weight: 400;
}