@using ReportGroups.Blazor.Models.Nodes

<div class="column-node @(Node.IsExpanded ? "expanded" : "")">
    <span class="position-title">@Node.ReportPosition?.Name</span>
</div>

@code {
    [Parameter] public ColumnNode Node { get; set; } = null!;
}