@using ReportGroups.Blazor.Models.Nodes

<div class="header-node">
    <span class="report-name">@Node.ReportName</span>
    
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" Class="header-port" />
    }
</div>

@code {
    [Parameter] public HeaderNode Node { get; set; } = null!;
}