.report-group {
    width: 100%;
    height: 100%;
    border: 2px dashed black;
}

.report-group .title {
    position: absolute;
    right: 0;
    padding: 8px;
    text-align: right;
    border-left: 2px dashed black;
    border-bottom: 2px dashed black;
}